<div class="robot-detail">
  <div class="robot" ng-class="{'with-commands': (robot.commands.length > 0)}">
    <span class="icon">robot</span>
    <span class="name">{{robot.name}}</span>

    <div class="details">
      <span><strong>Connections:</strong> {{robot.connections.length}}</span>
      <span><strong>Devices:</strong> {{robot.devices.length}}</span>
    </div>

    <div class="commands" ng-if="(robot.commands.length > 0)" ng-controller="RobotCommandsCtrl">
      <h2>Commands</h2>
      <div class="input">
        <select ng-model="command" ng-options="cmd for cmd in robot.commands">
        </select>

        <div class="params">
          <div class="param" ng-repeat="param in robot.params">
            <input placeholder='name' type="text" ng-model="param.name" ng-focus="addParam($last)">
            <input placeholder='value' type="text" ng-model="param.value" ng-focus="addParam($last)">
            <select ng-options="type for type in types" ng-model="param.type"></select>
            <span class="close" ng-click="removeParam($index)">X</span>
          </div>
        </div>

        <button ng-click="submit()" ng-disabled="isDisabled()">run</button>
      </div>

      <div class="results">
        <table>
          <thead>
            <th>Results</th>
          </thead>

          <tbody>
            <tr class="result" ng-repeat="entry in robot.results">
              <td>{{entry.result}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="widgets" ng-controller="WidgetsCtrl">
  </div>

  <div ng-show="device" ng-include="'/partials/device.html'">
  </div>

  <section>
    <div class="robot-devices">
      <div class="device"
          ng-class="{selected: selected(device)}"
          ng-repeat="device in robot.devices"
          ng-click="select(device)">
        <span class="icon">device</span>
        <span class="name">{{device.name}}</span>

        <div class="details">
          <span>{{device.connection}}</span>
        </div>
      </div>
    </div>

    <div class="robot-connections">
      <div class="connection" ng-repeat="connection in robot.connections">
        <span class="icon">connection</span>
        <span class="name">{{connection.name}}</span>

        <div class="details">
          <span ng-if="connection.port">{{connection.port}}</span>
        </div>
      </div>
    </div>
  </section>
</div>
