<div class="container">
  <h1>Themes</h1>

  <div class="themes container">
    <div class="sidebar col-md-2">
      <div class="theme-list">
        <div ng-click="selectTheme(name)" ng-repeat="(name, theme) in themes.customThemes()">
          {{name}}
        </div>
      </div>

      <div class="new-theme">
        <input ng-model="newThemeName">
        <button ng-click="newTheme(newThemeName)">Add New Theme</button>
      </div>
    </div>

    <div class="editor col-md-10">
      <textarea class="col-md-10" ng-model="selectedTheme.css"></textarea>
    </div>

    <div class="save">
      <button ng-click="themes.saveThemes()">Save Changes</button>
    </div>
  </div>
</div>
