.components {
  @include outer-container;

  .device, .connection {
    @include omega;
    padding: 15px 0;

    @include media($tablet) {
      text-align: center;

      .btn{
        display: table;
        margin: 0 auto 10px;
      }
    }

    .name {
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;

      @include media($tablet) {
        margin-left: 0px;
      }
    }

    .details {
      display: inline-block;
      margin-left: 20px;
      color: $color04;
    }
  }

  .devices, .connections {
    @include span-columns(6 of 12);
    @include omega;
  }

  .connection .name{
    @extend .details;
    font-weight: normal;
  }
}
