.connections{
  @include outer-container;

  .device, .connection {
    @include span-columns(6 of 12);
    @include omega;

    .name {
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;
    }

    .details {
      display: inline-block;
      margin-left: 20px;
      color: $color04;
    }
  }

  .connection .name{
    @extend .details;
    font-weight: normal;
  }
}