.cppp-io-details {
  @include outer-container;
  margin-top: 15px;

  tr {
    margin-bottom: 10px;
    padding-bottom: 3px;
  }

  .key {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
  }

  .value div {
    display: inline-block;
    overflow: scroll;
    border-bottom: 2px solid #ddd;
    white-space: nowrap;
    color: #888;
  }
}
