.device-commands {
  @include outer-container;

  .command-tool, .event-tool{
    @include span-columns(6 of 12);
  }
  .form {
    text-align: center;
  }
  .btn-run {
    @include span-columns(5 of 12);
    float: none;
    display: inline-block;
  }

  .listeners-container {
    @include span-columns(6 of 12);
    @include omega;
    display: inline-block;
    margin-bottom: 30px;
    .listeners {
      width: 100%;
    }
  }

  .events {
    width: 100%;
  }

  .remove {
    width: 10%;
    margin-top: 12px;
  }
}