.robot-info {
  @include outer-container;

  @include media($tablet) {
    text-align: center;
  }

  .details {
    float: right;
    line-height: 43px;

    @include media($tablet) {
      @include span-columns(12 of 12);
      margin-bottom: -15px;
    }

    .bullet-connections, .bullet-devices {
      color: $connection-digits-color;
      margin-left: 50px;

      @include media($tablet) {
        margin-left: 20px;
      }
    }

    strong {
      color: $body-text-color;
      margin-right: 20px;
    }
  }

  .name {
    margin-left: 20px;
    cursor: pointer;
  }

  .commands {
    @include clearfix();

    button {
      display: block;
      font-weight: bold;
      margin-top: 15px;
    }

    table {
      th {
        border-bottom: 1px solid #ccc;
        line-height: 34px;
      }

      td {
        font-family: $code-font-family;
        padding: 3px;
      }
    }
  }
}
