<!doctype html>
<html lang="en" ng-app="robeaux">
  <head>
    <meta charset="utf-8">

    <title>Robeaux</title>

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <span class="ng-hide" ng-controller="ThemesCtrl">
      <link ng-if="themes.active.url" rel="stylesheet" ng-href="{{themes.active.url}}">
      <style ng-if="themes.active.css" ng-bind-template="{{themes.active.css}}"></style>
    </span>
  </head>

  <body>
    <nav ng-controller="NavCtrl">
      <div class="container">
        <span class="logo"><img src="/images/logo-robeaux.png" alt=""></span>

        <span class="links">
          <a href="#/robots" ng-class="{active: active('robots')}">robots</a>
          <a href="#/themes" ng-class="{active: active('themes')}">themes</a>
          <a href="#/widgets" ng-class="{active: active('widgets')}">widgets</a>
        </span>
      </div>
    </nav>

    <div ng-view class="container"></div>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-route.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/services/themes.js"></script>
    <script src="/js/services/widgets.js"></script>
    <script src="/js/directives/widget.js"></script>
    <script src="/js/controllers/nav_ctrl.js"></script>
    <script src="/js/controllers/index_ctrl.js"></script>
    <script src="/js/controllers/themes_ctrl.js"></script>
    <script src="/js/controllers/widget_editor_ctrl.js"></script>
    <script src="/js/controllers/robot_ctrl.js"></script>
    <script src="/js/controllers/robot_commands_ctrl.js"></script>
    <script src="/js/controllers/device_commands_ctrl.js"></script>
    <script src="/js/controllers/device_events_ctrl.js"></script>
    <script src="/js/controllers/widgets_ctrl.js"></script>
  </body>
</html>
