/* Color Palette */
@color01: #EFEEF4;
@color02: #444;
@color03: #000;
@color04: #1CBBD8;
@color05: #fff;
@color06: #fff;

/* Body Variables */ 
@body-background-color: @color01;
@body-text-color      : @color02;
@body-font-family     : '';

/* Nav Variables */
@nav-background-color      : @color03;
@nav-link-color            : #fff;
@nav-link-color-hover      : @color04;
@nav-link-background       : @color03;
@nav-link-background-hover : @color04;

/* Buttons */
@btn-robot-color: #fff;
@btn-robot-background: @color04;

/* Connection Digits */
@connection-digits-color: @color04;