body {
  background: #444;
}

h1 {
  color: #bbb;
}

.navbar {
  background-color: #333;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #efefef;
}

.navbar-default .navbar-brand:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee;
}

.robot, .device {
  border: 3px solid #ababab;
  border-radius: 5px;
}

.robot .robot-type, .device .device-type {
  background: #ababab;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.robot dt i.fa {
  color: #aaa;
}

.details .console code {
  border: 1px solid #ababab;
  background: #fbfbfb;
}

.device-command {
  color: #bbb;
}

.device-command input[type='text'] {
  border: none;
  background: none;
  border-bottom: 3px solid #bbb
}

.device-command button {
  background: none;
  color: #bbb
}

.robot dt, .robot dd, .device dt, .device dd {
  color: #bbb;
  font-weight: normal
}

.robot .name, .device .name {
  color: #bbb;
}

.themes .new-theme input {
  background: none;
  border: 1px solid #bbb;
  color: #efefef;
}

.themes .new-theme input:focus {
  outline: none;
  border-color: #efefef;
}

.themes .sidebar .theme-list {
  border-bottom: 3px solid #bbb;
}

.themes .sidebar .theme-list .theme {
  border: 1px solid #efefef;
  color: #efefef;
  border-radius: 3px;
}

.themes .editor textarea {
  background: none;
  border: 1px solid #efefef;
  border-radius: 3px;
  color: #efefef;
}
