.navbar {
  background-color: #444;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #efefef;
}

.navbar-default .navbar-brand:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee;
}

.robot, .device {
  border: 3px solid #ababab;
  border-radius: 5px;
}

.robot .robot-type, .device .device-type {
  background: #ababab;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.robot dt i.fa {
  color: #aaa;
}

.details .console code {
  border: 1px solid #ababab;
  background: #fbfbfb;
}

.device-command input[type='text'] {
  border-bottom: 1px solid #bbb;
}

.device-command select {
  background: white;
}

.themes .new-theme input {
  border: 1px solid #bbb;
}

.themes .sidebar .theme-list {
  border-bottom: 3px solid #bbb;
}

.themes .sidebar .theme-list .theme {
  border: 1px solid #444;
  border-radius: 3px;
}

.themes .editor textarea {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}
