.navbar {
  border: none;
  border-radius: 0;
  background: #2980B9;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  background: #2980B9;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  background: #3498DB;
  color: white;
}

.navbar-default .navbar-nav > li.active > a {
  background: white;
  color: #2980B9;
}

.navbar-default .navbar-nav > li.active > a:hover {
  color: #3498DB;
  background: white;
}

.robot, .device {
  background: #27AE60;
  border-radius: 5px
}

.robot .robot-type, .device .device-type {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  color: #27AE60;
  border-radius: 5px
}

.robot dl, .device dl {
  color: white;
}

.name {
  color: white;
}

.device-command {
  color: white;
}

.device-command input[type='text'] {
  background: none;
  border: none;
  border-bottom: 3px solid white
}

::-webkit-input-placeholder {
  color: #efefef;
}

:-moz-placeholder {
  color: #efefef;
}

::-moz-placeholder {
  color: #efefef;
}

:-ms-input-placeholder {
  color: #efefef;
}

.device-command button {
  background: none;
  border: 3px solid white;
  font-size: 16px;
  color: white;
}

.device-command button:hover {
  background: #2ECC71;
  border: 3px solid white;
  color: white;
}

.device-command button:active {
  background: #14A14B;
  border: 3px solid white;
  color: white;
  box-shadow: none;
}

.device .command-submit button {
  background: #30485F;
  color: white;
  border: none;
}

.device .command-submit button[disabled] {
  background: #D0D5D8;
}

.device .command-submit button:hover {
  background: #3C5A77;
}

.device .command-submit button:active {
  background: #293D51
}

.details .console code {
  background: white;
  border: none;
  border-radius: 5px
}

.themes .new-theme input {
  border: 1px solid #27AE60;
}

.themes .new-theme ::-webkit-input-placeholder {
  color: #1ACA5E;
}

.themes .new-theme :-moz-placeholder {
  color: #1ACA5E;
}

.themes .new-theme ::-moz-placeholder {
  color: #1ACA5E;
}

.themes .new-theme :-ms-input-placeholder {
  color: #1ACA5E;
}

.themes .sidebar .theme-list {
  border-bottom: 3px solid #bbb;
}

.themes .sidebar .theme-list .theme {
  border: 1px solid #2980B9;
  color: #2980B9;
  border-radius: 3px;
}

.themes .sidebar .theme-list .theme:hover {
  background: #2980B9;
  color: white;
}

.themes .editor textarea {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}
