.robot, .device {
  margin-bottom: 20px;
  padding: 15px 5px;
}

.robot .robot-type, .device .device-type {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.robot b, .device b {
  font-weight: bold;
  line-height: 40px;
}

.robot .controls, .device .controls {
  float: right;
}

.robot dl {
  margin-bottom: 0;
}

.device {
  min-height: 75px;
}

.robot dt, .robot dd, .device dt, .device dd {
  display: inline-block;
}

.robot dd {
  margin-right: 10px;
}

.details .console code {
  display: block;
  height: 150px;
  width: 98%;
  margin: 0 auto;
  overflow: scroll;
  white-space: pre;
  margin-bottom: 8px;
}

.device.details {
  padding: 15px;
}

.device-command {
  display: block;
  clear: both;
  margin: 10px 0;
  padding: 0 15px;
}

.device-command select {
  width: auto;
  min-width: 150px;
  display: inline;
}

.device-command .param-input {
  font-size: 14px;
  margin: 10px 0;
}

.device-command input[type='text'] {
  border: none;
  box-shadow: none;
  line-height: 18px;
  padding: 5px;
  margin-right: 10px;
  width: 30%;
}

.device-command input[type='text']:focus {
  outline: none;
}

.device-command select {
  width: 20%;
}

.device-command .command-inputs button {
  width: 63%;
  margin-bottom: 30px;
}

.device-command select {
  background: white;
}

.device-command .param-remove {
  width: 18px;
  height: 18px;
  background-image: url(/images/delete.png);
  display: inline-block;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 5px;
}

.devices {
  padding-left: 0;
}

.connections {
  padding-right: 0;
}

.theme-selector {
  height: 50px;
  margin: 0 auto;
  float: right;
  margin-right: 10px;
}

.theme-selector select {
  height: 50%;
  margin-top: 11%;
  border: none;
}

.themes .row {
  margin-bottom: 20px;
}

.themes .sidebar, .themes .editor {
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.themes .sidebar {
}

.themes .new-theme * {
  width: 100%;
}

.themes .new-theme input {
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #bbb;
  line-height: 2;
  border-radius: 3px
}

.themes .sidebar .theme-list {
  padding-bottom: 20px;
  border-bottom: 3px solid #bbb;
  margin-bottom: 20px;
}

.themes .sidebar .theme-list .theme {
  padding: 5px 6px;
  border: 1px solid #444;
  border-radius: 3px;
  text-align: center;
}

.themes .sidebar .theme-list .theme:hover {
  cursor: pointer;
}

.themes .sidebar .theme-list .theme:not(:last-child) {
  margin-bottom: 10px
}

.themes .editor {
}

.themes .editor textarea {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  min-height: 300px;
  padding: 5px 10px;
}

.themes.save {
  float: left;
  clear: both;
}

