.device-detail {
  h2 {
    text-align: center;
  }

  table {
    margin-top: 15px;

    th {
      border-bottom: 1px solid #ccc;
      line-height: 34px;
    }

    td {
      font-family: @code-font-family;
      padding: 3px;
    }
  }

  .listeners {
    margin-top: 0;
  }
  
  .remove {
    color: #f00;
    &:hover {
      cursor: pointer;
    }
  }
}