.list {
  margin-top: 20px;

  .close {
    float: right;
    color: #ccc;
    &:hover {
      color: #f00;
      cursor: pointer;
    }
  }

  .theme, .widget {
    display: block;
    clear: both;
    padding: 5px;
    border-bottom: 1px dotted #ccc;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    background: #eee;
  }
}