.widgets {
  .new-widget, .new-attr {
    input {
      padding: 8px 12px;
    }
  }

  .new-attr {
    padding-top: 15px;
  }

  .attrs {
    padding-bottom: 20px;
  }

  .footer {
    text-align: right;

    .btn-reset {
      margin-right: 10px;
    }
  }
}