.widgets {
  .new-widget, .new-attr {
    input {
      padding: 8px 12px;
    }
  }

  .new-attr {
    padding-top: 15px;
  }

  .attrs {
    padding-bottom: 20px;
  }

  .footer {
    text-align: right;

    .btn-reset {
      margin-right: 10px;
    }
  }

  .new-widget-instance {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    overflow: hidden;
  }

  .panel {
    background: @modal-bg-color;
    padding: 6px;
    .rounded(4px);
    position: relative;

    .close {
      position: absolute;
      top: 0;
      right: 6px;
    }
  }
}