.device-detail {
  .device-header {
    .container();
    h2{
      .column(6);
    }
  }

  .device-commands {
    .column(6);
  }

  .device-events {
    .column(6);

    .input {
      .column(6);

      input {
        .column(7);
        padding: 8px 12px;
        margin: 0 2.08166667% 0 0;
      }

      button {
        .column(5);
      }
    }

    .listeners-div {
      .column(6);
      margin-bottom: 30px;
      table {
        width: 100%;
      }

    }

    .events {
      width: 100%;
    }
  }

  .remove {
    width: 10%;
  }
}