body {
  background: @body-background-color;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @body-text-color;
}

.container {
  width: @gridsystem-width;
  padding:0;
  .container();
}

.row {
  background: #fff;
  padding: 15px 0;
  margin-top: 20px;
  .clearfix();
}

.robot {
  h2 {
    .column(12);
    text-align: center;
  }

  .input, .results {
    .column(6);
  }
}