body {
  background: @body-background-color;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @body-text-color;
}

.container {
  width: @gridsystem-width;
  padding:0;
  .container();
}

.row {
  background: #fff;
  padding: 15px 0;
  margin-top: 20px;
  .clearfix();
}

.robot {
  h2 {
    .column(12);
    text-align: center;
    margin-bottom: 15px;
  }

  .input, .results {
    .column(6);
  }

  .input>select {
    width: 100%;
    .clearfix();
    margin-bottom: 15px;
  }

  .param {
    .row(6);
    height: 40px;

    input[type='text'] {
      .column(1.6,6);
    }

    select {
      .column(1.5,6);
    }

    .close {
      .column(0.5,6);
      line-height: 34px;
      &:hover {
        color: #f00;
        cursor: pointer;
      }
    }
  }

  button {
    width: 100%;
  }
}